.card {
    transition: 0.3s;
    width: 300px;
  
}

  
  .card-content {
    padding: 2px 16px;
  }
  
  img {
    max-width: 100px;
    max-height: auto;
  }
  button{
    background-color: rgb(247, 183, 197);;
  }
  