.navbar{
    background-color:rgba(211, 215, 219, 0.12);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    height: 10vh;
  
  }
  span{
    color:#E96479;
  }
  .logo{
    padding-left: 35px;
    color:#a5f0ec
  }
 
  .navItem{
    list-style-type: none;
    display:flex;
  
  }
  
  .navItem-1{
    list-style-type: none;
    text-decoration: none;
    color:black;
    padding-left: 30px;
    display: inline-block;
  }
  .navItem-1 img{
    width: 30px;
    height: 30px;
  }
  .navItem-1::after{
    content: '';
    display:block;
    height: 3px;
    width: 0;
    background-color: #E96479;
    transition: all 0.5s;
  }
  .navItem-1:hover::after{
    width: 100%;
  
  
  }