.produits{
    margin:90px 60px;
    background-color: rgb(253, 253, 253);
    padding: 20px 10px;
    border-radius: 20px;
    min-height: 50vh;
    
}
.produits h1{
    color: black;
    padding-left: 60px;
}
.listProduits{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.listProduits Card{
   
    padding-top: 20px;
}
.titleProduits h1::after{
    content: '';
    display:block;
    height: 3px;
    width: 0;
    background-color: #E96479;
    transition: all 0.5s;
  }
  .titleProduits h1:hover::after{
    width: 80px;
  
  
  }